/* =======start-2========== */
.about-p {
    position: relative;
}
.about-p:before {
    content: "";
    position: absolute;
    width: 25%;
    height: 100%;
    background: var(--pink-color);
    top: 0;
}
.zin-5{
    z-index: 5;
}
.min-ab {
    position: relative;
}
.two-i {
    position: absolute;
    right: -13%;
    top: 69%;
    width: 79%;
}
.con-ab h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 20px;
}
.con-ab p {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 26px;
}
/* =======end-2========== */
/* =========3-start====== */
.bf-in {
    position: relative;
}
.bf-in:before {
    content: "";
    position: absolute;
    width: 95.2%;
    background-color: #f8f8f8;
    height: 65%;
    top: 0;
}
.min-con-h h4 {
    font-size: 15px;
    font-weight: 500;
    color: #ffbe00;
    margin-bottom: 14px;
    text-transform: uppercase;
}
.min-con-h h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 58px;
    margin-bottom: 20px;
}
.bf-in .min-con-h .main_black_h2{
    color: #000 !important;
}
.min-con p {
    font-size: 17px;
    font-weight: normal;
    line-height: 30px;
    color: #252525;
    padding-right: 40px;
}
.ser-box {
    background: var(--pink-color);
    padding: 25px;
    position: relative;
}
.icon-b-s {
    position: relative;
    width: 100%;
    display: inline-block;
    float: left;
    height: 100px;
}
.po-i-s {
    position: absolute;
}
.two-i-s {
    opacity: 0;
}
.ser-box:hover {
    background-color: #0f0f0f;
}
.ser-box:hover .one-i-s {
    opacity: 0;
}

.ser-box:hover .two-i-s {
    opacity: 1;
}
.min-s-n {
    position: absolute;
    right: 8%;
    top: 4%;
    font-size: 80px;
    opacity: 0.6;
    cursor: default; 
}
.min-cont-s {
    margin-top: 13px;
    display: inline-block;
}
.ser-box:hover .min-cont-s h3 {
    color: var(--pink-color);
    cursor: default;    
}
.min-cont-s h3 {
    color: #252525;
    font-size: 31px;
    margin-bottom: 15px;
}
.min-cont-s p{
    color: #fff;
    cursor: default; 
}
.ser-box, .two-i-s, .one-i-s {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
/* =========3-end============ */
/* ========4 our-service-start======== */
.over-h {
    position: relative;
    overflow: hidden;
}
.af-fo-i6 {
    position: absolute;
    left: 3em;
    -webkit-animation: download-animation 3s infinite linear;
    animation: download-animation 3s infinite linear;
    top: 3em;
}
.af-fo-i31 {
    position: absolute;
    right: -7em;
    top: 1em;
}
.img-cer {
    -webkit-animation: rotation 30s linear infinite;
    -moz-animation: rotation 30s linear infinite;
    -ms-animation: rotation 30s linear infinite;
    -o-animation: rotation 30s linear infinite;
    animation: rotation 30s linear infinite;
}
.af-fo-i31 img {
    width: 280px;
}
.af-fo-i8 {
    position: absolute;
    left: -15%;
    bottom: 4%;
    top: inherit;
}
.af-fo-i8 img {
    width: 350px;
    z-index: 2;
}
.af-fo-i16 {
    position: absolute;
    right: 2em;
    -webkit-animation: download-animation 3s infinite linear;
    animation: download-animation 3s infinite linear;
    bottom: 5em;
}
.heading-top {
    text-align: center;
}
.heading-top h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 15px;
}
.heading-top p {
    font-size: 19px;
    font-weight: normal;
}
.heading-top .span-one {
    position: relative;
}
.heading-top .span-one:before {
    content: "";
    position: absolute;
    background-image: url(../img/y-left-s.png);
    height: 4px;
    width: 320px;
    left: -13.5em;
    top: 1.7em;
    bottom: 0;
    margin: auto;
    background-repeat: no-repeat;
}
.heading-top .span-one:after {
    content: "";
    position: absolute;
    background-image: url(../img/y-right-s.png);
    height: 4px;
    width: 320px;
    left: 2.8em;
    top: 1.7em;
    bottom: 0;
    margin: auto;
    background-repeat: no-repeat;
}
.pd-0-to-0 .col-md-4 {
    padding: 0px;
}
.min-s-ab {
    width: 100%;
    display: inline-block;
}
.pd-0-to-0{
    z-index: 4;
}
.min-top {
    min-height: 276px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.min-cont-s {
    margin-top: 13px;
    display: inline-block;
}


/* ========4 our-service-end========== */
/* ========5 OUR - SAVE - START======== */
.save-bg {
    position: relative;
}
.save-bg:before {
    content: "";
    position: absolute;
    width: 36%;
    height: 100%;
    background: var(--pink-color);
    top: 0;
    right: 0;
}
.save-bg:after {
    content: "";
    position: absolute;
    width: 36%;
    height: 100%;
    background-image: url(../img/mural-shape-bg.png);
    top: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
}
.af-fo-i161 {
    position: absolute;
    right: -6%;
    top: -16%;
}
.save-bg .col-md-7{
    position: relative;
}
.img-cer {
    -webkit-animation: rotation 30s linear infinite;
    -moz-animation: rotation 30s linear infinite;
    -ms-animation: rotation 30s linear infinite;
    -o-animation: rotation 30s linear infinite;
    animation: rotation 30s linear infinite;
}
.min-con-h h4 {
    font-size: 15px;
    font-weight: 500;
    color: #ffbe00;
    margin-bottom: 14px;
    text-transform: uppercase;
}
.min-con-h h2 {
    color: var(--text-color) !important;
    font-size: 40px;
    font-weight: 600;
    line-height: 58px;
    margin-bottom: 20px;
}
.min-con-h p {
    font-size: 17px;
    font-weight: normal;
    line-height: 30px;
    padding-right: 40px;
}
.min-con-ab-t .col-md-6 {
    margin-bottom: 20px;
}
.icon-ch {
    float: left;
}
.icon-ch img {
    height: 73px;
}
.ri-ch-t {
    float: left;
    width: 68%;
    margin-left: 7%;
}
.ri-ch-t h4 {
    font-weight: 500;
    font-size: 19px;
    margin-bottom: 0px;
}
.ri-ch-t p {
    font-size: 15px;
    font-weight: normal;
    line-height: 23px;
    margin-top: 5px;
}
.po-coock {
    position: absolute;
    z-index: 9;
    bottom: 0;
    right: 3%;
}
/* ========5 OUR - SAVE - END======== */


/* =========Mobile============ */
@media only screen and (min-width: 768px) and (max-width: 991px){
    .two-i {
        position: inherit;
        right: 0;
        top: 69%;
        width: 100%;
        margin: 20px 0;
    }
    .about-p .col-md-6.pl-60 {
        padding-top: 0%;
        padding-left: 15px;
    }
    .about-p .col-md-6.pl-60 .con-ab {
        padding-top: 0px;
    }
    .about-p .col-md-6.pl-60 .con-ab h2 {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 8px;
    }
    .pb-80 {
        padding-bottom: 50px;
    }
    .pt-90 {
        padding-top: 50px;
    }
    .bf-in:before {
        width: 100%;
    }
    .bf-in .row:first-child .col-md-3:first-child {
        max-width: 32% !IMPORTANT;
        min-width: 32%;
    }
    .min-con-h h2 {
        font-size: 40px;
        line-height: 39px;
    }
    .bf-in .row:first-child .col-md-3:nth-child(2) {
        display: none;
    }
    .bf-in .row:first-child .col-md-6 {
        max-width: 68% !IMPORTANT;
        min-width: 68%;
    }
    .min-con p {
        font-size: 15px;
        font-weight: normal;
        line-height: 26px;
        color: #252525;
        padding-right: 0px;
    }
    .bf-in .row.pt-30 .col-md-3 {
        margin-bottom: 20px;
        padding: 0px 5px;
    }
    .ser-box {
        padding: 15px;
        min-height: 188px;
        position: relative;
    }
    .icon-b-s {
        height: 75px;
    }
    .po-i-s {
        position: absolute;
        width: 68px;
    }
    .po-i-s {
        position: absolute;
        width: 68px;
    }
    .min-s-n {
        position: absolute;
        right: 8%;
        top: 4%;
        font-size: 58px;
        opacity: 0.6;
    }
    .min-cont-s h3 {
        color: #252525;
        font-size: 18px;
        margin-bottom: 15px;
    }
    .min-cont-s p {
        font-size: 13px;
        font-weight: normal;
        line-height: 22px;
        margin-bottom: 0;
    }
    section.pt-0.pb-90.over-h {
        padding-bottom: 0px;
    }
    .over-h .af-fo-i31, .over-h .af-fo-i6, .over-h .af-fo-i8, .over-h .af-fo-i16 {
        display: block;
    }
    .heading-top h1 {
        font-size: 40px;
        line-height: 40px;
    }
    .heading-top p {
        font-size: 16px;
        font-weight: normal;
        line-height: 22px;
    }
    .over-h .col-md-10 {
        margin: auto;
        width: 100% !IMPORTANT;
        max-width: 100%;
        min-width: 100%;
    }
    .over-h .col-md-10 .col-md-4 {
        padding: 0px;
        margin-bottom: 0px;
    }
    .af-fo-i31 img{ 
        display: none;
    }
    .save-bg {
        position: relative;
        overflow: hidden;
    }   
    .save-bg .af-fo-i161 {
        display: none;
    }   
    .min-con-h h2 {
        font-size: 40px;
        line-height: 39px;
    }
    .min-con-h p {
        padding-right: 0px;
        font-size: 15px;
        line-height: 24px;
    }
    .min-con-ab-t .col-md-6 {
        margin-bottom: 20px;
        padding: 0px 5px;
    }
    .icon-ch {
        float: left;
        width: 30%;
    }
    .icon-ch img {
        height: 60px;
    }
    .ri-ch-t {
        float: left;
        width: 63%;
        margin-left: 7%;
    }
    .ri-ch-t h4 {
        font-size: 14px;
    }
    .ri-ch-t p {
        font-size: 14px;
        line-height: 23px;
    }
    .col-md-5.po-coock {
        display: block;
    }
    .po-coock .chef-img img {
        width: 100%;
    }  
     
    .ser-box {
        padding: 15px;
        min-height: 188px;
        position: relative;
    }
}

/* ========max - 767 ========= */
@media only screen and (max-width: 767px) {
    .pb-90 {
        padding-bottom: 60px;
    }
    .about-p:before {
        width: 35%;
        height: 34%;
        top: 0;
    }
    .about-p .col-md-6.pr-70 {
        padding-right: 52px;
    }
    .about-p .col-md-6.pl-60 {
        padding-top: 33%;
        padding-left: 15px;
    }
    .con-ab h2 {
        font-size: 35px;
        line-height: 45px;
    }
    .pt-90 {
        padding-top: 60px;
    }
    .bf-in:before {
        width: 100%;
    }
    .bf-in .row .col-md-3 {
        margin-bottom: 20px;
    }
    .min-con-h h2 {
        font-size: 35px;
        line-height: 45px;
    }
    .bf-in .row .col-md-3 {
        margin-bottom: 20px;
    }
    .min-con p {
        font-size: 15px;
        font-weight: normal;
        line-height: 26px;
        color: #252525;
        padding-right: 0px;
    }
    .icon-b-s {
        height: 75px;
    }
    .po-i-s {
        height: 75px;
    }
    .min-cont-s p {
        font-size: 14px;
        font-weight: normal;
        line-height: 25px;
        margin-bottom: 0;
    }
    .pb-90 {
        padding-bottom: 60px;
    }
    .over-h .af-fo-i31, .over-h .af-fo-i6, .over-h .af-fo-i8, .over-h .af-fo-i16 {
        display: none;
    }
    .heading-top h1 {
        font-size: 35px;
        line-height: 40px;
    }
    .heading-top p {
        font-size: 15px;
        line-height: 21px;
    }
    .over-h .col-md-10 {
        margin: auto;
    }
    .over-h .col-md-10 .col-md-4 {
        padding: 0px;
        margin-bottom: 20px;
    }
    .save-bg .af-fo-i161 {
        display: none;
    }
    .min-con-h h2 {
        font-size: 35px;
        line-height: 45px;
    }
    .min-con-h p {
        padding-right: 0px;
        font-size: 15px;
        line-height: 24px;
    }
    .ri-ch-t {
        float: left;
        width: 67%;
        margin-left: 7%;
    }
    .col-md-5.po-coock {
        display: none;
    }
    .save-bg:before,
    .save-bg:after{
        display: none;
    }
}

@media only screen and (min-width: 375px) and (max-width: 620px){
    .over-h {
        padding-bottom: 0px;
    }
}